.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CenteredDivs{
  text-align: center;
}

.InlineDisplayBlock{
  width: 30%;
  display: inline-block;
  border: solid purple 5px;
}

.PersonalInformation{
  width: 30%;
  display: inline-block;
}

.Wrapper{
  border: solid blue 5px;
  width:60%;
  display:inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
}

.buttonStyling{
  display: block;
}



.h5Test{
  color: purple;
  font-weight: bold;
}
